* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
